{% extends 'blogapp/base.html' %}
{% load static %}
{% block content %}
        <div class="col-12 px-0">
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'blogapp:home' %}">Home</a></li>
            </ol>
          </nav>
        </div>
        <div class="maincontent  col-12 col-sm-9 px-0">
          <p id="block1" class="header">おすすめ記事</p>
          <div class = "carousel slide" id ="cl" data-ride = "carousel" style ="margin:0 auto;">
            <ol class = "carousel-indicators">
              <li data-target = "#cl" data-slide-to ="0" class = "active"></li>
              <li data-target = "#cl" data-slide-to ="1"></li>
              <li data-target = "#cl" data-slide-to ="2"></li>
              <li data-target = "#cl" data-slide-to ="3"></li>
            </ol>
            <div class="carousel-inner">

              {% for linkArticle in linkArticleSet|slice:":4" %}
                {% if forloop.first %}
                 <div class="carousel-item active"><a href="{% url 'blogapp:entries' aN=linkArticle.articleNumber %}">
                  <img src="{% static linkArticle.image.url %}" class = "d-block w-100 carouselimg" alt="おすすめ記事{{ forloop.counter }}">
                  <div class="carousel-caption d-none d-sm-block">
                   <p class ="carouselarticle">{{ forloop.counter }} {{ linkArticle.title }}</p>
                  </div>
                  </a>
                 </div>
                {% else %}
                 <div class="carousel-item"><a href="{% url 'blogapp:entries' aN=linkArticle.articleNumber %}">
                  <img src="{% static linkArticle.image.url %}" class = "d-block w-100 carouselimg" alt="おすすめ記事{{ forloop.counter }}">
                  <div class="carousel-caption d-none d-sm-block">
                   <p class ="carouselarticle">{{ forloop.counter }} {{ linkArticle.title }}</p>
                  </div>
                  </a>
                 </div>
                {% endif %}
              {% endfor %}
            </div>
            <a href="#cl" class = "carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">前の記事</span>
            </a>
            <a href="#cl" class = "carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">次の記事</span>
            </a>
          </div>
          <div class="testspace mt-4">

            <div class ="mb-3"><home id="block2" ><h1 class="header mb-2">ようこそ文系エンジニア道ブログへ</h1></home>
            <date>更新日時：2020.4.14</date>
            </div>
            <p>ITド素人の文系サラリーマンがじたばたしながらアプリを作成する様を通して、<br>
            みんなの頑張る元気を届けるブログです！<br>
            当ブログはhtmlからサーバーアップロードまですべて自分で行っております。</p>

            <div id="block3" class="mx-auto font-weight-bold" style="width: 650px;"><h1 class="header">2020年度第1四半期ロードマップ</h1></div>
            <div class="row text-center font-weight-bold">
              <div class ="col-md p-1">
                <div class="font-weight-bold" style="background-color:navy; color:white;">4月</div>
                <div class="bg-info p-1 justify-content-center">
                  <div class ="col bg-white p-1"><h5 class="font-weight-bold" style="color:navy;">ブログ改修</h5>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【セキュリティ向上】<br>sslの導入<br>認証機能の強化</p>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【モバイルフレンドリー】<br>レスポンシブデザインの導入</p>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【ブログ制作記事】<br>ブログをデプロイするまでの工程</p>
                  </div>
                  <div class ="col bg-white pt-3 pb-2"><h5 class="font-weight-bold" style="color:navy;">アプリ制作</h5>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【マッピングアプリ】<br>webスクレイピング</p>
                  </div>
                </div>
              </div>
              <div class ="col-md p-1">
                <div class="font-weight-bold" style="background-color:navy; color:white;">5月</div>
                <div class="bg-info p-1 justify-content-center">
                  <div class ="col bg-white p-1"><h5 class="font-weight-bold" style="color:navy;">ブログ改修</h5>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【機能追加】<br>ブログ内検索<br>コメント欄</p>
                  </div>
                  <div class ="col bg-white pt-3 pb-2"><h5 class="font-weight-bold" style="color:navy;">アプリ制作</h5>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【金融系アプリ】<br>数値解析</p>
                  </div>
                </div>
              </div>
              <div class ="col-md p-1 mr-4">
                <div class="font-weight-bold" style="background-color:navy; color:white;">6月</div>
                <div class="bg-info p-1 justify-content-center">
                  <div class ="col bg-white p-1"><h5 class="font-weight-bold" style="color:navy;">ブログ改修</h5>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【ブログ仕様変更】<br>docker導入</p>
                  </div>
                  <div class ="col bg-white pt-3 pb-2 mr-4"><h5 class="font-weight-bold" style="color:navy;">アプリ制作</h5>
                  <p class="rounded mb-1" style="background-color:blue; color:white;">【歴史系アプリ】<br>動的アプリ</p>
                  </div>
                </div>
              </div>
              </div>
            <div class="shadow mb-5 news" style="height:200px;">
            <h2 class="mt-5 header p-1">直近の更新予定について</h2>
              <p class="p-1">ブログとして最低限の形になるまで改修を進めていきます</p>
            </div>

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfmb88QIWfQEuzfghCvNcikXV0Ama4a1ywi_5wfdc6170XSCA/viewform?embedded=true" width="100%" height="468" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
            <br>
            <br>
            <br>
          </div>
          <div class="sns">

            <ul class="clearfix list-unstyled">

            <li class="twitter">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="テスト用" data-url="http://startblog.starfree.jp/blogscheme.html" data-lang="ja" data-show-count="false">Tweet</a>
            </li>

            <li class="facebook">
            <div class="fb-share-button" data-href="http://startblog.starfree.jp/blogscheme.html" data-layout="button" data-size="large">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fstartblog.starfree.jp%2Fblogscheme.html&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore">シェア</a>
            </div>
            </li>
            </ul>
          </div>
          <div id="block4" class="sameTag">
            <p class="header">各カテゴリ毎の初回記事</p>
            <div class="card-group">
              {% for firstArticle in firstArticleSet %}
                <div class="card" style="width:80%; background-color:transparent;border:1px solid black;">
                  <a href="{% url 'blogapp:entries' aN=firstArticle.articleNumber %}">
                  <img src="{% static firstArticle.image.url %}" alt="サムネ画像" class="card-img" style = "opacity:0.4";>
                  <div class="card-img-overlay">
                    <h5>{{ firstArticle.title}}</h5>
                  </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}


