{% extends 'blogapp/base.html' %}
{% load static %}
{% block content %}
<div class="col-12 px-0">
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'blogapp:profile' %}">プロフィール</a></li>
        </ol>
    </nav>
</div>
<div class="maincontent  col-12 col-sm-9 px-0">
    <p id="block1" class="header">オススメ記事一覧</p>
    <div class = "carousel slide" id ="cl" data-ride = "carousel" style ="margin:0 auto;">
        <ol class = "carousel-indicators">
            <li data-target = "#cl" data-slide-to ="0" class = "active"></li>
            <li data-target = "#cl" data-slide-to ="1"></li>
            <li data-target = "#cl" data-slide-to ="2"></li>
            <li data-target = "#cl" data-slide-to ="3"></li>
        </ol>
        <div class="carousel-inner">
            {% for linkArticle in linkArticleSet|slice:":4" %}
                {% if forloop.first %}
                 <div class="carousel-item active"><a href="{% url 'blogapp:entries' aN=linkArticle.articleNumber %}">
                  <img src="{% static linkArticle.image.url %}" class = "d-block w-100 carouselimg" alt="おすすめ記事{{ forloop.counter }}">
                  <div class="carousel-caption d-none d-sm-block">
                   <p class ="carouselarticle">{{ forloop.counter }} {{ linkArticle.title }}</p>
                  </div>
                  </a>
                 </div>
                {% else %}
                 <div class="carousel-item"><a href="{% url 'blogapp:entries' aN=linkArticle.articleNumber %}">
                     <img src="{% static linkArticle.image.url %}" class = "d-block w-100 carouselimg" alt="おすすめ記事{{ forloop.counter }}">
                     <div class="carousel-caption d-none d-sm-block">
                         <p class ="carouselarticle">{{ forloop.counter }} {{ linkArticle.title }}</p>
                     </div>
                  </a>
                 </div>
                {% endif %}
            {% endfor %}
        </div>
            <a href="#cl" class = "carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">前の記事</span>
            </a>
            <a href="#cl" class = "carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">次の記事</span>
            </a>
          </div>
          <div class="testspace mt-4">
            <h1 id="block1" class="header">自己紹介</h1>
            <p>こんにちは、seiyaと申します。<br>
               四年制大学の経済学部を卒業し、今は不動産会社の営業をしています。<br>
               2019年1月頃からITに興味を持ち始め、今は業務後と休日を使ってIT知識をむさぼっています。<br>
               このブログでは、pythonを使ってのwebアプリケーション実装を試していく予定です。<br>
               また、文系目線でできるだけわかりやすくそのあたりの知識を共有するブログ記事も併せて掲載予定です。<br>
            </p>
            <h1 id="block2" class="header">ブログを始めたきっかけ</h1>
            <p>自分がIT関係に興味を持った流れとしては、<br>
               ゲーム開発→競技プログラミング→python→IT全般<br>
               という順番です。<br>
                <br>
                <br>
               もともとゲームが好きだったのですが、最近だと個人でもゲームを作れる無料ソフトがあると知り、<br>
               ゲーム開発を2年前くらいに始めました。
                <br>
               ただ、ゲームシステムを考えるのは楽しかったんですけど、キャラクターやステージのデザイン等を考えるのが大変で
               すぐにやめてしまいました笑
                <br>
               その後にイトコに競技プログラミングというものを教えてもらって、それにハマりました。<br>
                <br>
               競技プログラミングとは与えられた数字に応じて、求めたい値を算出できるプログラムを作成するゲームです。<br>
               自分にとってプログラムを考える時間はゲームシステムを考えるのと似た感覚で、まさに自分がやりたかったことだと感じました。<br>
                <br>
               もちろんプログラムを作成するためには何かしらのプログラミング言語の習得が必要だったため、<br>
               調べてみて一番本が多かったpythonを選んで勉強を開始しました。<br>
                <br>
               もともとゲーム制作時に疑似言語に触れていましたし、競技プログラミングを通してプログラムをガリガリ書いていたおかげで、<br>
               そこまで苦労せずに基礎的な流れは習得はできました。<br>
               （競技プログラミングに関しては、今も絶賛学習中です！詳しくはブログ記事で書いていこうと思います。）<br>
                <br>
                <br>
                競技プログラミングを通してプログラムがある程度かけるようになった段階で、<br>
                このコードがどうやってwebサイトやアプリになっているんだろうという疑問が出てきました。<br>
                この時の自分はまだちょっとしたプログラムを書く以外何も知識がありませんでした笑<br>
                <br>
                そこで、その周辺知識を身に付けるためにもブログを1から作って、その中で自分の作ったプログラム？コンテンツ？アプリケーション？<br>
                を配信していこうと思い立ちました。<br>
                （でも、プログラムをかけるというのは、本当にITの世界のほんの一部だったんだと、<br>
                このあと嫌になるくらい思い知らされます笑<br>）
               <br>
               これが僕がブログを始めたきっかけです。<br>
               長文になってしまってごめんなさい💦<br>
               ここまで読んでいただいてありがとうございました！<br>
               こんな奴のプロフィール長々と読むなんて、君もだいぶ暇人だなぁ！！<br>
               これからも暇人でいてくださいね<br>
               また、何かご質問・ご相談？がある方は、下のフォームからよろしくお願いします。<br>
               ※と言いつつ、フォームは近々作成予定です笑※
                <br>
            </p>
            <h1 id="block3 header">これからの目標</h1>
              <p>個人的な最終目標としては、
                  <strong>自分の考えた仕組みを自分で作って自分で世の中に出せる人になる</strong>
                  ことです。
                  せっかくネットという世界とつながれる道具があるんだから、それを使って
                  世界に発信できるスキルを身に付けたいと思っています。

                  よく友達とかと、○○みたいな機能のアプリがあったらいいなって会話をするんですが、
                  そんなモノを自分で作れる、もしくは作るためには何が必要かわかる人になれれば
                  どんな世の中になってもネットさえ残っていれば怖くない自立した人間になれるだろうということです。

                  また、目標を達成するために必要な要素は以下の3つのスキルに分けられると考えています。
                  ①ネットを使って発信するための上流から下流までの基礎スキル
                  ②今世の中にないものを作るための、サーバーサイドの専門スキル
                  ③世の中に評価されるものを作り、発信するためのマーケティング、営業スキル

                  で、上記をまとめるとIT技術者としてサーバーサイドに特化したT字型人材（この言葉前に流行ってたよね笑）になりつつ、
                  文系のサラリーマンとしてマーケティングと営業スキルを身に着けるという、大谷翔平もびっくりの二刀流スキルセットとなります。
                  どこまでできるかわかりませんが、理想に近付けるだけ近付いてやろうと思います。
              </p>
          </div>
          <div class="sns">

            <ul class="clearfix list-unstyled">

            <li class="twitter">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="テスト用" data-url="http://startblog.starfree.jp/blogscheme.html" data-lang="ja" data-show-count="false">Tweet</a>
            </li>

            <li class="facebook">
            <div class="fb-share-button" data-href="http://startblog.starfree.jp/blogscheme.html" data-layout="button" data-size="large">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fstartblog.starfree.jp%2Fblogscheme.html&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore">シェア</a>
            </div>
            </li>
            </ul>
          </div>
          <div id="block4" class="sameTag">
            <p class="header">各カテゴリ毎の初回記事</p>
            <div class="card-group">
              {% for firstArticle in firstArticleSet %}
                <div class="card" style="width:80%; background-color:transparent;border:1px solid black;">
                  <a href="{% url 'blogapp:entries' aN=firstArticle.articleNumber %}">
                  <img src="{% static firstArticle.image.url %}" alt="サムネ画像" class="card-img" style = "opacity:0.4";>
                  <div class="card-img-overlay">
                    <h5>{{ firstArticle.title}}</h5>
                  </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}